.poles {
    border: solid 1px;
    height: 80vh;
    width: 18%;
    min-width: 100px;
    background-color: #404040;
}

body {
    min-width: 500px;
    min-height: fit-content;

}

#poles {
    display: flex;
    justify-content: space-between;
}

.poles {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 2px;
    height: 80vh;
    min-height: 80vh;

}

.createteam {
    background-color: aliceblue;
    color: black;
    border-radius: 30px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.createteam:hover {
    background-color: burlywood;
}

.errorsdivs {
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
    margin: 5px;
}

.createateamform {
    display: flex;
    flex-direction: column;
}

.inputcreate {
    border-radius: 30px;
    margin: 10px;
    background-color: ghostwhite;
}

.labelforcreateteam {
    margin: 3px;
}

#submitcreateteam {
    border-radius: 30px;
    width: 90px;
    align-self: center;
}

#submitcreateteam:hover {
    background-color: aliceblue;
}

#h1forcreateteam {
    justify-self: center;
    align-self: center;
    font-weight: bold;
}


.userlistpole {
    padding: 2px;
    margin: 5px;
}

.userlinkpole {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    border-radius: 30px;
    padding: 4px;
    background-color: aliceblue;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.liuserpole {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    width: 100%;
    max-width: 80%;

}

#userlisttitle {
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 5px;
    margin: 2px;
    margin-bottom: 12px;
}

#root {
    width: 100%;
    max-width: 1400px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin {
    width: 50px;
    height: 50px;
    justify-self: flex-end;
    align-self: flex-end;
}

.linkedinimg {
    width: 50px;
    height: 50px;
    justify-self: flex-end;
    align-self: flex-end;

}

#linkedindiv {
    /* justify-self: flex-end; */
    position: absolute;
    bottom: 0px;
}
