.poles {
    border: solid 1px;
    height: 70vh;
    width: 18%;
    min-width: 100px;
    background-color: #404040;
}

body {
    min-width: 500px
}

#poles {
    display: flex;
    justify-content: space-between;
}

.poles {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
