.poles {
    border: solid 1px;
    height: 70vh;
    width: 18%;
    min-width: 100px;
    background-color: #404040;
}

body {
    min-width: 500px
}

#poles {
    display: flex;
    justify-content: space-between;
}

.poles {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.createteam {
    background-color: aliceblue;
    color: black;
    border-radius: 30px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.createteam:hover {
    background-color: burlywood;
}

.errorsdivs {
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
    margin: 5px;
}

.createateamform {
    display: flex;
    flex-direction: column;
}

.inputcreate {
    border-radius: 30px;
    margin: 10px;
    background-color: ghostwhite;
}

.labelforcreateteam {
    margin: 3px;
}

#submitcreateteam {
    border-radius: 30px;
    width: 90px;
    align-self: center;
}

#submitcreateteam:hover {
    background-color: aliceblue;
}

#h1forcreateteam {
    justify-self: center;
    align-self: center;
    font-weight: bold;
}
