.teamcapsule {
    background-color: aliceblue;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    color: red;
    overflow: hidden;
    max-width: 100%;
    border: solid .1px black;
    min-width: 90%;
}

@media screen and (max-width:1200px) {
    .teamcapsule {
        font-size: 9px;
        max-width: 110px;
    }

}

.activeteam {
    background-color: darkgray;
    color: crimson;
}

.teamcapsule:hover {
    background-color: burlywood;
}

.teamdisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.teamdisplay::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.teampagebuttons {
    position: relative;
    border-radius: 20px;
    top: 2px;
    right: 2px;
    width: 80px;
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
}

.teampagebuttons:hover {
    background-color: aliceblue;
    border: solid 1px;
    cursor: pointer;
}

.buttondivs {
    display: flex;
    /* flex-direction: column; */

    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin: 5px;
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px black;
    padding: 3px;
    border-radius: 12px;
    margin: 5px;
    background-color: darkgray;
    box-shadow: inset 0 0 10px #000000;

}

#descriptionid {
    flex-wrap: wrap;
    overflow-wrap: break-word;
    max-width: 90%;
}
