.teamcapsule {
    background-color: aliceblue;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3px;
    text-decoration: none;
    font-weight: bold;
    color: red;
}

.activeteam {
    background-color: darkgray;
    color: crimson;
}

.teamcapsule:hover {
    background-color: burlywood;
}

.teamdisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.teampagebuttons {
    position: relative;
    border-radius: 20px;
    top: 2px;
    right: 2px;
    width: 80px;
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    font-family: 'Courier New', Courier, monospace;
}

.teampagebuttons:hover {
    background-color: aliceblue;
    border: solid 1px;
}

.buttondivs {
    display: flex;
    /* flex-direction: column; */
    justify-content: end;
    align-items: flex-end;
    width: 100%;
}
