.ulBox {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 30%;
    min-height: 150px;
    margin: 0;
    border: solid 1px black;
    background-color: darkgray;
    border-radius: 24px;
    padding: 20px;
    margin: 12.5%;
    opacity: .9;
}

.teamname {
    text-decoration: none;
    font-size: 16px;
    color: black;
    border: solid 1px;
    border-radius: 24px;
    padding: 10px;
    background-color: aliceblue;
    margin: 30px;

}

.ulBoxdiv {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.teamli {
    margin: 30px;
}

.teamname:hover {
    background-color: grey;
    color: red;
    border: black 1px solid;
}
